.imgDarkZoom img {
  object-fit: cover;
  transition: transform 0.3s, filter 0.3s;
}

.imgDarkZoom img:hover {
  transform: scale(1.1); /* Zoom in by 10% */
  filter: brightness(0.8); /* Darken the image by 20% */
}

.nsfw-tag {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    border-radius: 2px;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    /*vertical-align: text-bottom;*/
    white-space: pre;
    word-break: normal;
    box-sizing: border-box;
    line-height: 14px;
    padding: 0 4px;
    position: absolute;
    margin-top: 3px;
}

.fluid_controls_left {
    left: 0px!important;
}

.fluid_controls_right {
    left: 36px!important;
    right: 12px!important;
}

body {
  overflow-x: hidden;
}

#snowfallCanvas, #fireworksCanvas {
  position: absolute; /* Change to fixed for better scroll follow */
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none; /* Make the canvas non-clickable */
  z-index: 999999999999999; /* Set a high z-index to overlay other elements */
}